<div class="row">
  <div class="small-12 columns">
    <h1>WineNotes</h1>
  </div>
  <div class="small-6 columns">
    <h2>Sign In</h2>

    <%= form_tag sign_in_path do %>
      <fieldset>
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="actions">
          <%= submit_tag "Sign In", class: "button" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="small-6 columns">
    <h2>Sign Up</h2>
    <%= render 'users/form' %>
  </div>
</div>