<div class="row">
  <div class="large-9 columns">
    <h1><%= @user.name %></h1>
    <p><%= @user.email %></p>
    
    <h2><%= "#{pluralize(@notes.count, "note")}" %></h2>
    <table>
      <thead>
        <th>Wine</th>
        <th>Rating</th>
        <th>Notes</th>
        <th></th>
      </thead>
      <tbody>
        <% @notes.each do |n| %>
        <tr>
            <td>
              <%= link_to n.wine.name, wine_path(n.wine_id, n) %><br/>
              <small><%= n.wine.varietal %>, <%= n.wine.year %>, <%= n.wine.vinyard %></small>
            </td>
            <td><%= n.rating %></td>
            <td><%= n.tasting_notes %></td>
            <td><%= link_to('Edit', edit_wine_note_url(n.wine_id, n)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-3 columns">
    <p><%= link_to('Edit User', edit_user_path(@user)) %></p>
  </div>
</div>