<div class="row">
  <div class="medium-9 columns">
    <h1><%= t('.title') %></h1>
    <h4><%= "#{pluralize(@wines.count, 'wine')} #{t('.subtitle')}" %></h4>
    <table id="wines" class="display responsive no-wrap">
      <thead>
        <th></th>
        <th><%= Wine.human_attribute_name(:name) %></th>
        <th><%= Wine.human_attribute_name(:varietal) %></th>
        <th><%= Wine.human_attribute_name(:year) %></th>
        <th><%= Wine.human_attribute_name(:vinyard) %></th>
        <th><%= Note.human_attribute_name(:count) %></th>
        <th></th>
      </thead>
      <tbody>
        <% @wines.each do |w| %>
        <tr>
          <td><%= link_to image_tag("//placehold.it/20x20", alt: w.name), wine_path(w) %></td>
          <td><%= link_to(w.name, wine_path(w)) %></td>
          <td><%= w.varietal %></td>
          <td><%= w.year %></td>
          <td><%= w.vinyard %></td>
          <td><%= w.notes.count %></td>
          <td><%= link_to('Edit', edit_wine_path(w)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="medium-3 columns">
    <h3><%= t('wines.create.title') %></h3>
    <%= render 'form' %>
  </div>
</div>