<p><%= "#{pluralize(@wines.count, "wine")}" %></p>

<table>
    <thead>
        <th>Name</th>
        <th>Varietal</th>
        <th>Year</th>
        <th>Vinyard</th>
    </thead>
    <tbody>
        <% @wines.each do |w| %>
        <tr>
            <td><%= w.name %></td>
            <td><%= w.varietal %></td>
            <td><%= w.year %></td>
            <td><%= w.vinyard %></td>
        </tr>
        <% end %>
    </tbody>
</table>