<div class="row">
  <div class="medium-9 columns">
    <table id="wines" class="display responsive no-wrap">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Varietal</th>
        <th>Year</th>
        <th>Vinyard</th>
        <th># of Notes</th>
        <th></th>
      </thead>
      <tbody>
        <% @wines.each do |w| %>
        <tr>
          <td><%= link_to image_tag("//placehold.it/20x20", alt: w.name), wine_path(w) %></td>
          <td><%= link_to(w.name, wine_path(w)) %></td>
          <td><%= w.varietal %></td>
          <td><%= w.year %></td>
          <td><%= w.vinyard %></td>
          <td><%= w.notes.count %></td>
          <td><%= link_to('Edit', edit_wine_path(w)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="medium-3 columns">
    <h3>Create New Wine</h3>
    <%= render 'form' %>
  </div>
</div>