<div class="row">
  <div class="large-9 columns">
    <div class="row">
      <div class="small-3 columns">
        <img src="//placehold.it/350x350" alt="<%= @wine.name %>" />
      </div>
      <div class="small-9 columns">
        <%= content_tag(:h1, @wine.name) %>
        <%= content_tag(:p, @wine.varietal) %>
        <%= content_tag(:p, @wine.year) %>
        <%= content_tag(:p, @wine.vinyard) %>
      </div>
    </div>
    
    <h2><%= "#{pluralize(@notes.count, "note")}" %></h2>
    <table>
      <thead>
        <th><%= Note.human_attribute_name(:author) %></th>
        <th><%= Note.human_attribute_name(:rating) %></th>
        <th><%= Note.human_attribute_name(:tasting_notes) %></th>
        <th><%= Note.human_attribute_name(:created_at) %></th>
        <th></th>
      </thead>
      <tbody>
        <% @notes.each do |n| %>
        <tr>
            <td><%= link_to n.user.name, user_path(n.user) %></td>
            <td><%= n.rating %></td>
            <td><%= n.tasting_notes %></td>
            <td><%= time_ago_in_words(n.created_at) %></td>
            <td><%= link_to 'Edit', edit_wine_note_url(@wine, n) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-3 columns">
    <ul>
      <li><%= link_to 'Edit Wine', edit_wine_path(@wine) %></li>
      <li><%= link_to 'Back to Wines', wines_path %></li>
    </ul>
    <h3>Create New Note</h3>
    <%= render 'notes/form' %>
  </div>
</div>